{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "standard-jsx",
    "standard-react"
  ],
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/no-unknown-property": 0
  }
}
